.contact-wrapper {
	text-align: center;
	font-family: $font-one;
	background-color: black;
	
	
	p {
		padding: 3em 0;
		text-align: center;
		font-size: 1.3em;
		color: white;
		font-weight: 300;
	}
}


.contact-info, .contact-needs {
	display: inline-block;
	max-width: 20em;
	text-align: left;
	vertical-align: top;
	color: white;
	font-weight: 300;
	
	li:first-child {
		font-weight: 700;
	}
	
	
	a {
//		color: black;
	}

}

.contact-needs {
	padding-right: 10em;

}

.robot-wrapper {
	background: url(https://s3-us-west-2.amazonaws.com/williams-robotics/robot-cropped.png) center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	min-height: 55vh;

}