h2 {
line-height: 1.3;
}

.hero-nav, .product-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	z-index: 100000;
	list-style-type: none;
	padding-top: 1em;
	position: relative;
	z-index: 08;
	max-width: 1250px;
	margin: 0 auto;
	
	li {
		padding-left: 9em;
		padding-right: 2em;
		margin-top: 16px;
//		margin-bottom: -20px;
	}
	
	li:first-child {
		float: right;
		margin-right: auto;
		padding-left: 3em;
		margin-bottom: 0;
		margin-top: 0;
	}
	
	
	a {
		color: #7D2B39;
		font-family: $font-one;
		font-size: 1.3em;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	a:hover {
		color: white;
	}
	
	.active a {
	color: white;
}
	
	img {
		height: 40px;
		width: auto;
	}
}

.nav-item {
	
}




//////foooter 
footer {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
//	margin: 0 auto;
	align-items: flex-end;
	padding: .75em 0 .35em 0;
	font-family: $font-one;
	max-width: 1250px;
	margin: 0 auto;
	
	a {
	 font-family: $font-one;
	 color: #7D2B39;
	}
}

.footer-wrapper {
	
}

.connect-box {
	text-align: center;
	font-weight: 300;
	margin-bottom: 0;
	padding-left: 3em;
	h3 {
		color: maroon;
		margin-bottom: .3em;
	}

	
}

.footer-connects {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 4em;
	font-size: 1.5em;

	
	li {
//		padding-right: 1em;
		display: inline;
		a {
			color: maroon;
			font-size: 1em;
		}	
	}
}

.section-logo {
	width: auto;
	height: 40px;
	margin-right: 1.5em;
}

.copywrite {
	font-size: .7em;
	padding-left: 9em;

}



//////// product nav


.product-nav {

	a, img {
		color: #7D2B39;
		padding-bottom: .5em;
	}
	
	a:hover{
		color: $robot-black;
	}

	.active {
	 border-bottom: 2px solid $robot-black;
	 color: $robot-black;
	}
	

}


@media only screen and (max-width: 611px) {

	.hero-nav, .product-nav {
		flex-direction: column;
		justify-content: center;
		padding-right: 0;
		text-align: center;
		flex-wrap: nowrap;
		
		li {
			padding: 0;
		
		}
		
		li:first-child {
			float: auto;
			margin: auto;
			padding-right: 4em;
		}
		
	}
	
	footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
	}
	
	.copywrite {
		order: 3;
	}
	
	.connect-box {
		padding-bottom: 2em;
		
	}
	
	.section-logo {
		padding-bottom: 1em;
		padding-right: 2em;
	}
	
	.copywrite {
		padding-right: 8em;
	
	}



}
	
	
	
