
.product-section-two-wrapper{
		display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
}


.product-image-wrapper {
	width: 640px;
	height: 480px;
	display: inline-block;
	img {
		width: 100%;
		height: auto;
	}
}

	.small-video {
		max-width: 25em;
		margin: 1em;
		img {
			width: 100%;
			height: auto;
		}
	}

.product-left-side {
	box-sizing: border-box;
	padding: 2rem 3em 0em;
	font-size: 1.3em;
	color: $robot-black;
	text-align: center;
	font-family: $font-one;
	font-weight: 300;
  background-size: cover;
	position: relative;
	background-color: white;


	p {
		line-height: 1.3em;
		text-align: left;
		font-size: 1em;
		padding-top: 0em;
		max-width: 50em;
		margin: 0 auto;
		z-index: 100;
		position: relative;
	}


	a {

		border: none;
		position: relative;
		z-index: 100;

	}
}


.product-right-side {
	max-width: 30em;
	height: 100%;
	color: #222;
	display: inline-block;

}

.product-right-side-img {
	height: 100%;
	overflow: hidden;
	width: 100%;

}

.bottom-padding {
	padding-bottom: 1.5em;
}


.product-section-two {
 padding: 2em 3em;
 display: flex;
 flex-wrap: wrap;
 font-family: $font-one;
 justify-content: space-around;
 flex-direction: row;

}

.video-wrapper {
	padding-bottom: 3em;
	border: none;
	// width: 100%;
	// height: auto;
   .video-sample {
		 width: 100%;
		 height: auto;
	 }
}


.features-list-wrapper {
	font-size: 1.2em;
	padding: 0 2em;
	display: inline-block;
}

.product-features {
	max-width:  17em;
	margin: 0 auto;
	list-style-type: square !important;
	font-weight: 300;
	font-size: 1.1em;

	li {
		padding: .1em 0;
	}

	h3 {
		padding: 0;
		margin: 0;
	}
}

.section-two-right-side {
	font-weight: 300;
	display: inline-block;
	max-width: 25em;
}

@media only screen and (max-width: 750px) {
	.product-section-two {
		display: block;
	}
}
