.team-content {
//	padding-top: 2em;
	font-family: $font-one;

	
	h1 {
		text-align: center;
	}
	
	h2 {
		padding-left: 1rem;
		margin: .7rem 0 .1rem;
		color: #076A9F;
	}
	
	h3 {
		padding-left: 1rem;
	}
	
	p {
		padding: 0rem 1rem 1rem 1rem;
		font-weight: 300;
		font-size: 1.3em;

		
	}

}

.team-top-wrapper {
		background: url(https://s3-us-west-2.amazonaws.com/williams-robotics/starry-sky.jpg);
		background-size: cover;
		color: $robot-white;
	  padding: 3em 0;
	

}

.team-header-line {
	max-width: 90%;
	margin: 0 auto;
	font-size: 1.3em;
	line-height: 1.1em;
	font-family: $font-one;
	padding-bottom: 2em;
	font-weight: 300;
	text-align: center;
}

.team {
//	background-color: lightgrey;
}

.team-person-wrapper {
	margin: 0 auto;
	max-width: 1250px;
	padding-top: 1.5em;
//	border: 1px solid black;
}

.team-person-img-wrapper {
	padding: .75rem;
	display: inline-block;
	width: 400px;
}


.team-person-img {
	height:auto;
  width: 200px;
	border-radius: 100px;
	display: block;
	margin: 0 auto;
}

.team-person-content-wrapper {
//	min-height: 260px;
	display: inline-block;
	max-width: 42em;
	vertical-align: top;
	
	p {
	
		font-size:1.3em;
	}
}


.jobs {
	padding-top: 3em;
	max-width: 65em;
	
	p {
		font-size: 1.3em;
	}

}